.infoPage {
    max-width: 800px;
    height: 45vh;
    margin: 60px auto;
    padding: 40px 20px;
    text-align: center;
}

.infoPage h1 {
    font-family: "Walt Disney Script", sans-serif;
    font-size: 4rem;
    letter-spacing: 1px;
    color: #667eea;
    margin-top: 6rem;
}
