.navBar {
    background: white;
    border-bottom: 2px solid #667eea;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9;
}

/* Rule added because of update to reactstrap 9.x */
.navbarContainer {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 50px;
    transition: all .2s;
    margin-right: 20px;
    color: #667eea !important;
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(207deg) brightness(97%) contrast(96%);

}

.logo:hover {
    transform: rotate(360deg);
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(207deg) brightness(97%) contrast(96%);

}


.navItem a {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 20px;
    color: #667eea !important;
}

.navItem a.active {
    color: #f90931 !important;
}
.navItem a:hover {
    color: #ff4c60;
}
