.footer {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);;
    color: white;
    width: 100vw;
    padding: 3rem;

}

#course a {
    font-size: 20px;
    max-width:250px;
    justify-content: center;
    color: white !important;
    margin-bottom: 3rem !important;

}

.copyright {
    justify-content: center;
    flex-direction: row;
}


.footerNav{
    border-left: 1px;


}
.footerNav a{
    margin: 8px 0;
    display: inline-block;
    color: white !important;
}


.logoBicocca {
   max-width: 9rem;
}

.logoDisney {
    max-width: 9rem !important;
}

.firma {
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .logoDisney, .logoBicocca {
        display: none;
    }
}